@import "tailwindcss";

@theme {
  --color-primary: #2563eb;

  --color-bg: #eef2ff;
  --color-surface: #f8fafc;
  --color-surface2: #ffffff;

  --color-text: #0f172a;
  --color-muted: #475569;

  --color-ok: #16a34a;
  --color-warn: #d97706;
  --color-danger: #dc2626;

  --color-border: #e2e8f0;
}

html, body, #root { height: 100%; }
body { background: var(--color-bg); color: var(--color-text); }
